.profile-body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
}
.profile-details{
    border-right: 2px solid gray;
    margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 25px;
}