.nav-bar{
    background-color: rgb(49, 52, 99);
    text-align: left;
    line-height: 70px;
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-bar a{
    margin-left: 50px;
    text-decoration: none;
    padding: 3px 10px;
    color: white;
    font-size: 15px;
    transition: .6s;
}
.nav-bar a:hover{
    background-color: gray;
    border-radius: 3px;
}
input{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    width: 200px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 3px;
}